.App{
    max-width: 85vw;
    margin: auto;
    margin-top: 8px;
    min-height: 100vh;
    background-color: rgb(246, 246, 239);
    font-family: Verdana, Geneva, sans-serif;
}

/* NavBar */
.NavBar{
    background-color: #ff6600;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    align-items: center;
}

.NavBar img{
    height: 18px;
    width: 18px;
}

.NavBar p{
    margin: 0px;
    font-weight: bold;
    font-size: 0.85rem;
    margin-left: 4px;
}

.NavBar-left{
    display: flex;
}

.NavBar-left:hover{
    cursor: pointer;
}

#we{
    font-size: 0.8rem;
    padding-left: 5px;
    flex-grow: 1;
}

/* NewsList */
.news-item{
    padding: 5px 0;
    font-size: 0.9rem;
}

.news-item li{
    list-style: none;
}

.news-list{
    background-color: rgb(246, 246, 239);
    margin-top: 7px;
    padding-left: 0;
    padding-left: 2.1em;
}

.newsItem-firstLine{
    font-size: 0.8rem;
}

.newsItem-secondLine{
    font-size: 0.7rem;
    color: #828282;
    display: flex;
    justify-content: left;
    padding-top: 2px;
}

.newsItem-secondLine p{
    margin: 0;
}

#counterListItem{
    display: inline-block;
    width: 1.5em;
    margin-left: -2.7em;
    text-align: right;
    color:#828282;
}

#upvoteListItem{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-inline: 3px;
    border: none;
}

.newsItem-firstLine a{
    color: black;
    text-decoration: none;
}

#searchBar input:focus{
    outline-style: dotted;
}

#underline{
    font-size: 0.7rem;
    color: #828282;
    text-decoration: underline;
    padding-left: 5px;
}

.clickable:hover{
    cursor: pointer;
    padding: 0;

}

/* Spinner */

.spinnerContainer{
    display: flex;
    justify-content: center;
    margin-left: -2.1em;
}

.spinner{
    display: block;
    margin-top: 5rem;
    padding-bottom: 100%;
}

/* No Result */

.noResults{
    text-align: center;
    margin-top: 5rem;
    line-height: 1.5rem;
    width: auto;
    margin-left: -2.1em;
}


/* size	50	number or string	Set the size as number of pixels or any valid CSS string (e.g. size="100%").
thickness	100	number	Set lines width as a percentage of default thickness.
сolor	'#38ad48'	string	Set the color. Can be set to any valid CSS string (hex, rgb, rgba).
secondaryColor	'rgba(0,0,0,0.44)'	string	Set the secondary color. Can be set to any valid CSS string (hex, rgb, rgba).
speed	100	number	Set the animation speed as a percentage of default speed. */